* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

body .trabajo__h2, body .contactame__h2, body .sobreMi__h2, body .contacto__h1, body .galeria__h1, body .precios__h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3em;
  color: #000000;
  font-family: 'Anton', sans-serif; }
  @media (max-width: 768px) {
    body .trabajo__h2, body .contactame__h2, body .sobreMi__h2, body .contacto__h1, body .galeria__h1, body .precios__h1 {
      font-size: 2em; } }

.header {
  background-image: url("../media/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  align-items: flex-start; }
  @media (max-width: 1024px) {
    .header {
      background-image: url("../media/banner-mob.jpg"); } }
  .header .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    @media (max-width: 990px) {
      .header .menu {
        display: none; } }
    .header .menu .menu__a {
      margin-top: 30px;
      text-decoration: none;
      font-size: 1.7em;
      font-weight: 600;
      color: white;
      transition: all 500ms ease; }
      .header .menu .menu__a img {
        width: 70px;
        transition: all 500ms ease; }
    .header .menu .menu__a:hover {
      transform: scale(1.1);
      text-decoration: none;
      color: white; }
  .header .titulo {
    margin-top: 220px; }
    @media (max-width: 720px) {
      .header .titulo {
        margin-top: 200px; } }
    @media (max-width: 540px) {
      .header .titulo {
        margin-top: 100px; } }
    .header .titulo .titulo__h1 {
      font-size: 5em;
      font-family: 'Bebas Neue', cursive;
      color: #e8b21a;
      text-align: center; }
      @media (max-width: 720px) {
        .header .titulo .titulo__h1 {
          font-size: 4em; } }
      @media (max-width: 540px) {
        .header .titulo .titulo__h1 {
          font-size: 3em; } }
    .header .titulo .titulo__h2 {
      font-size: 3.5em;
      font-family: 'Bebas Neue', cursive;
      color: white;
      text-align: center; }
      @media (max-width: 720px) {
        .header .titulo .titulo__h2 {
          font-size: 3em; } }
      @media (max-width: 540px) {
        .header .titulo .titulo__h2 {
          font-size: 2em; } }

#headerGeneral {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  @media (max-width: 990px) {
    #headerGeneral {
      display: none; } }

header img {
  width: 70px;
  transition: all 500ms ease; }

header img:hover {
  transform: scale(1.1); }

header a {
  text-decoration: none;
  font-size: 1.7em;
  font-weight: 600;
  color: white;
  transition: all 500ms ease; }
  @media (max-width: 540px) {
    header a {
      font-size: 1.2em; } }

header a:hover {
  transform: scale(1.1);
  text-decoration: none;
  color: white; }

.navbar {
  display: none;
  background-color: transparent !important; }
  @media (max-width: 990px) {
    .navbar {
      display: flex; } }
  .navbar a {
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 600;
    color: white;
    transition: all 500ms ease; }
    @media (max-width: 540px) {
      .navbar a {
        font-size: 1.2em; } }

.navbar-toggler {
  border: none; }

.navbar-toggler i {
  color: white !important;
  font-size: 30px; }

.navbar-brand {
  margin-top: 0 !important; }

.nav-link {
  color: white !important; }

.headerBootsGeneral {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); }

.nav-link {
  margin-top: 10px;
  padding: 0;
  width: 150px;
  transition: all 500ms ease; }

.nav-link:hover {
  transform: scale(1.1); }

.trabajo {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px; }

.contactame {
  text-align: center; }
  .contactame iframe {
    width: 50%; }
    @media (max-width: 1024px) {
      .contactame iframe {
        width: 80%; } }
    @media (max-width: 550px) {
      .contactame iframe {
        height: 300px; } }
  .contactame .contactame__a {
    display: block;
    margin: 0 auto;
    width: 220px;
    border: 3px solid #373755;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 2em;
    padding: 10px;
    color: #000000;
    font-family: 'Anton', sans-serif;
    transition: all 500ms ease; }
  .contactame .contactame__a:hover {
    text-decoration: none;
    transform: scale(1.1); }

.sobreMi {
  margin: 30px; }
  .sobreMi .sobreMi__contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px; }
    @media (max-width: 1400px) {
      .sobreMi .sobreMi__contenido {
        margin-bottom: 60px; } }
    @media (max-width: 540px) {
      .sobreMi .sobreMi__contenido {
        margin-bottom: 60px; } }
    .sobreMi .sobreMi__contenido img {
      width: 280px;
      margin-right: 80px; }
      @media (max-width: 1400px) {
        .sobreMi .sobreMi__contenido img {
          width: 300px;
          margin-right: 0px;
          margin-bottom: 30px; } }
      @media (max-width: 540px) {
        .sobreMi .sobreMi__contenido img {
          width: 200px;
          margin-right: 0px;
          margin-bottom: 30px; } }
    .sobreMi .sobreMi__contenido p {
      font-size: 1.5em;
      text-align: justify;
      width: 50%; }
      @media (max-width: 1400px) {
        .sobreMi .sobreMi__contenido p {
          width: 90%; } }
      @media (max-width: 1024px) {
        .sobreMi .sobreMi__contenido p {
          font-size: 2em; } }
      @media (max-width: 768px) {
        .sobreMi .sobreMi__contenido p {
          font-size: 1.3em; } }
    .sobreMi .sobreMi__contenido .bottinellifotos:hover {
      text-decoration: none; }

.precios {
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px; }
  .precios .precios__tabla {
    margin-bottom: 20px;
    border-collapse: collapse;
    margin: auto;
    margin-top: 100px; }
    .precios .precios__tabla th, .precios .precios__tabla td {
      text-align: left;
      font-size: 2em;
      width: 300px;
      border: 2px solid black; }
  .precios .precios__cards {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    @media (max-width: 1024px) {
      .precios .precios__cards {
        width: 100%; } }
    @media (max-width: 932px) {
      .precios .precios__cards {
        flex-direction: column; } }
    .precios .precios__cards .card {
      transition: all 500ms ease;
      border: 1px solid rgba(0, 0, 0, 0.171);
      margin-bottom: 50px; }
      @media (max-width: 700px) {
        .precios .precios__cards .card {
          width: 17rem !important; } }
    .precios .precios__cards .card:hover {
      transform: scale(1.1); }
  .precios .contactame__p {
    font-size: 2.5em;
    font-weight: 600;
    color: #000000; }
    @media (max-width: 768px) {
      .precios .contactame__p {
        font-size: 1.6em; } }

.galeria {
  margin: auto;
  margin-top: 30px;
  width: 70%;
  margin-bottom: 60px; }
  @media (max-width: 1400px) {
    .galeria {
      width: 100%; } }
  .galeria .galeria__imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    justify-items: center; }
    @media (max-width: 1200px) {
      .galeria .galeria__imagenes {
        grid-template-columns: 1fr 1fr; } }
    .galeria .galeria__imagenes img {
      width: 350px;
      transition: all 400ms ease; }
      @media (max-width: 1200px) {
        .galeria .galeria__imagenes img {
          width: 80%; } }
    .galeria .galeria__imagenes img:hover {
      transform: scale(1.4); }

.contacto {
  margin-top: 30px;
  margin-bottom: 50px; }
  .contacto .contacto__form {
    margin: auto;
    margin-top: 50px;
    width: 40%;
    font-size: 1em;
    text-align: center;
    margin-bottom: 50px; }
    @media (max-width: 1200px) {
      .contacto .contacto__form {
        width: 80%; } }
    .contacto .contacto__form input[type="text"], .contacto .contacto__form input[type="email"], .contacto .contacto__form textarea {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #0f0c298e;
      margin-bottom: 30px;
      resize: none; }
    .contacto .contacto__form textarea {
      height: 100px; }
    .contacto .contacto__form input[type="text"]:focus, .contacto .contacto__form input[type="email"]:focus, .contacto .contacto__form textarea:focus {
      border: 1px solid #000000;
      border-radius: 10px;
      outline: none; }
    .contacto .contacto__form button {
      background: #0f0c29;
      background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
      background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 20px;
      font-size: 1.5em;
      cursor: pointer;
      transition: all 500ms ease; }
    .contacto .contacto__form button:hover {
      transform: scale(1.1); }
    .contacto .contacto__form button:focus {
      box-shadow: none; }

.btn-cerrar {
  background-color: #0f0c29; }

.btn-cerrar:hover {
  background-color: #251e62; }

.btn-cerrar:focus {
  box-shadow: none; }

.footer {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 150px;
  text-align: center;
  color: white;
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .footer .footer__h2 {
    padding-top: 20px;
    padding-bottom: 10px; }
    @media (max-width: 540px) {
      .footer .footer__h2 {
        font-size: 1.5em; } }
  .footer .footer__a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5em; }
    .footer .footer__a i {
      transition: all 500ms ease; }
    .footer .footer__a i:hover {
      transform: scale(1.2);
      color: white; }
  .footer .footer__a:hover {
    color: white; }
