.contacto{
    height: 710px;
    .contacto__h1{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 3em;
        font-family: 'Anton', sans-serif;
    }
    .contacto__form{
        margin: auto;
        margin-top: 70px;
        width: 40%;
        font-size: 1em;
        text-align: center;
        margin-bottom: 130px;
        input[type="text"],input[type="email"], textarea{
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #0f0c29;
            margin-bottom: 30px;
            resize: none;
        }
        textarea{
            height: 100px;
        }
        input[type="text"]:focus,input[type="email"]:focus, textarea:focus{
            border: 2px solid #0f0c2983;
            border-radius: 10px;
            outline: none;
        }
        input[type="submit"]{
            background: #0f0c29; 
            background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
            background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 20px;
            font-size: 1.5em;
            cursor: pointer;
            transition: all 500ms ease;
        }
        input[type="submit"]:hover{
            transform: scale(1.1);
        }
    }
}




