.header{
    background-image: url("../media/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
    @media (max-width: 1024px){
        background-image: url("../media/banner-mob.jpg");
    }
    .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        @media (max-width: 990px){
            display: none;
        }
        .menu__a{
            margin-top: 30px;
            text-decoration: none;
            font-size: 1.7em;
            font-weight: 600;
            color: white;
            transition: all 500ms ease;
            img{
                width: 70px;
                transition: all 500ms ease;
            }
        }
        .menu__a:hover{
            transform: scale(1.1);
            text-decoration: none;
            color: white;
        }
    }
    .titulo{
        margin-top: 220px;
        @media (max-width: 720px){
            margin-top: 200px;
        }
        @media (max-width: 540px){
            margin-top: 100px;
        }
        .titulo__h1{
            font-size: 5em;
            font-family: 'Bebas Neue', cursive;
            color:  rgb(232, 178, 26);
            text-align: center;
            @media (max-width: 720px){
                font-size: 4em;
            }
            @media (max-width: 540px){
                font-size: 3em;
            }
        }
        .titulo__h2{
            font-size: 3.5em;
            font-family: 'Bebas Neue', cursive;
            color: rgb(255, 255, 255);
            text-align: center;
            @media (max-width: 720px){
                font-size: 3em;
            }
            @media (max-width: 540px){
                font-size: 2em;
            }
        }
    }
}
#headerGeneral{
    background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 990px){
        display: none;
    }
}
header{
    img{
        width: 70px;
        transition: all 500ms ease;
    }
    img:hover{
        transform: scale(1.1);
    }
    a{
        text-decoration: none;
        font-size: 1.7em;
        font-weight: 600;
        color: white;
        transition: all 500ms ease;
        @media (max-width: 540px){
            font-size: 1.2em;
        }
    }
    a:hover{
        transform: scale(1.1);
        text-decoration: none;
        color: white;
    }
} 

.navbar{
    display: none;
    background-color: transparent !important;
    @media (max-width: 990px){
        display: flex;
    }
    a{
        text-decoration: none;
        font-size: 1.7em;
        font-weight: 600;
        color: white;
        transition: all 500ms ease;
        @media (max-width: 540px){
            font-size: 1.2em;
        }
    }
}
.navbar-toggler{
    border: none;
}
.navbar-toggler i{
    color: white !important;
    font-size: 30px;
}
.navbar-brand{
    margin-top: 0 !important;
}
.nav-link{
    color: white !important;
}

.headerBootsGeneral{
    background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
}

.nav-link{
    margin-top: 10px;
    padding: 0;
    width: 150px;
    transition: all 500ms ease;
}
.nav-link:hover{
    transform: scale(1.1);
}
