.precios{
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    .precios__tabla{
        margin-bottom: 20px;
        border-collapse: collapse;
        margin: auto;
        margin-top: 100px;
        th, td{
            text-align: left;
            font-size: 2em;
            width: 300px;
            border: 2px solid black;
        }
    }
    .precios__cards{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        @media (max-width: 1024px){
            width: 100%;
        }
        @media (max-width: 932px){
            flex-direction: column;
        }
        .card{
            transition: all 500ms ease;
            border: 1px solid rgba(0, 0, 0, 0.171);
            margin-bottom: 50px;
            @media (max-width: 700px){
                width: 17rem !important;
            }
        }
        .card:hover{
            transform: scale(1.1);
        }
    }
    .contactame__p{
        font-size: 2.5em;
        font-weight: 600;
        color: #000000;
        @media (max-width: 768px){
            font-size: 1.6em;
        }
    }
}


