.sobreMi{
    margin: 30px;
    .sobreMi__contenido{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        @media (max-width: 1400px){
            margin-bottom: 60px;
        }
        @media (max-width: 540px){
            margin-bottom: 60px;
        }
        img{
            width: 280px;
            margin-right: 80px;
            @media (max-width: 1400px){
                width: 300px;
                margin-right: 0px;
                margin-bottom: 30px;
            }
            @media (max-width: 540px){
                width: 200px;
                margin-right: 0px;
                margin-bottom: 30px;
            }
        }
        p{
            font-size: 1.5em;
            text-align: justify;
            width: 50%;
            @media (max-width: 1400px){
                width: 90%;
            }
            @media (max-width: 1024px){
                font-size: 2em;
            }
            @media (max-width: 768px){
                font-size: 1.3em;
            }
        }
        .bottinellifotos:hover{
            text-decoration: none;
        }
    }
}



